## Ignorar solo archivos/pacckages que no se estaran exportando a git
*.egg-info/
.coverage
.ipynb_checkpoints
**/*.DS_Store
data/
training_outputs/
*.csv
__pycache__/
.env
.direnv/

# IDE #
.vscode/
